<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="./assets/stylesheets/style.css" type="text/css" />
		<title>Burger Time!</title>
		<script defer src="https://code.jquery.com/jquery.js"></script>
		<script defer src="./public/js/login.js"></script>
        <script defer src="./public/js/members.js"></script>
        <script defer src="./public/js/signup.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>