 <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id='search'>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value='search'>Search</button>
    </form>
<main class='container'>
    <div class='row'>
        <div class ='col-md-3'>
            <table class='table'>
              <ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="#Artist" class="nav-link active" data-toggle="tab">Artist</a>
    </li>
    <li class="nav-item">
        <a href="#Songs" class="nav-link" data-toggle="tab">Songs</a>
    </li>
    <li class="nav-item">
        <a href="#Playlist" class="nav-link" data-toggle="tab">Playlist</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade show active" id="Artist">
        <div>Artist Content!</div>
    </div>
    <div class="tab-pane fade" id="Songs">
        <div>Songs Content!</div>
    </div>
    <div class="tab-pane fade" id="Playlist">
        <div>Playlist Content!</div>>
    </div>
</div>
            </table>
        </div>
        <div class ='col-md-9'>
            <div id='videos'></div>
        </div>
    </div>
</main>