<main class='container'>
    <div class='row'>
        <div class='col-md-3'>
            <form class="form-inline my-2 my-lg-0" id='form1'>
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id='search'>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value='search'>Search</button>
            </form>
            <table class='table'>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="#Songs" class="nav-link" data-toggle="tab">Songs</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade" id="Songs">
                        <div>Songs Content!</div>
                    </div>
                </div>
            </table>
        </div>
        <div class='col-md-9'>
            <div id='videos'></div>
        </div>
    </div>
</main>
<br>

<div class="container-fluid">
    <h1>Welcome to Stage 1</h1>
    <div id="parentContainer1" data-aos="zoom-in zoom-out" data-aos-duration="3000">
        <div id="stageOne">
            <div class="player" style="width: 1050px; height: 650px;max-width: 50%;margin: 0 auto; padding-top: 200px">
                <div id="youtube1" style="width: 100%;height: 100%"></div>
                <div class="controls" style="text-align: center;margin: 0 auto;">
                    <button style="padding: 10px;width: 100px;background-color: #167AC6;"
                        onclick="YouTubePlayer.playPrevious()">Prev
                    </button>
                    <button style="padding: 10px;width: 100px;background-color: #167AC6;margin-left: 30px;"
                        onclick="YouTubePlayer.playNext()">Next
                    </button>
                </div>
            </div>
        </div>
    </div>
    <h1>Welcome to Stage 2</h1>
    <div id="parentContainer2" data-aos="zoom-in zoom-out" data-aos-duration="3000">
        <div id="stageTwo">
            <div class="player" style="width: 1050px; height: 650px;max-width: 50%;margin: 0 auto; padding-top: 200px">
                <div id="youtube2" style="width: 100%;height: 100%"></div>
                <div class="controls" style="text-align: center;margin: 0 auto;">
                    <button style="padding: 10px;width: 100px;background-color: #167AC6;"
                        onclick="YouTubePlayer2.playPrevious2()">Prev
                    </button>
                    <button style="padding: 10px;width: 100px;background-color: #167AC6;margin-left: 30px;"
                        onclick="YouTubePlayer2.playNext2()">Next
                    </button>
                </div>
            </div>
        </div>
    </div>
    <h1>Welcome to Stage 3</h1>
    <div id="parentContainer3" data-aos="zoom-in zoom-out" data-aos-duration="3000">
        <div id="stageThree">
            <div class="player" style="width: 1050px; height: 650px;max-width: 50%;margin: 0 auto; padding-top: 200px">
                <div id="youtube3" style="width: 100%;height: 100%"></div>
                <div class="controls" style="text-align: center;margin: 0 auto;">
                    <button style="padding: 10px;width: 100px;background-color: #167AC6;"
                        onclick="YouTubePlayer3.playPrevious3()">Prev
                    </button>
                    <button style="padding: 10px;width: 100px;background-color: #167AC6;margin-left: 30px;"
                        onclick="YouTubePlayer3.playNext3()">Next
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div>
        {{>chat}}
    </div>
</div>