<div>
    <h2>Welcome to Stage 1</h2>
</div>
<div class="container-fluid" id="stageOne">
    <!-- Need to get DB info here with dimensions of 840 x 472.5 -->
    <iframe width="840" height="472.5" src="https://www.youtube.com/embed/{{youtubeID}}" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
        class="concertVideo"></iframe>
</div>
<br />
<div data-aos="fade-up">
    <h2>Welcome to Stage 2</h2>
</div>
<div class="container-fluid" id="stageTwo" data-aos="fade-up">
    <!-- Need to get DB info here with dimensions of 840 x 472.5 -->
    <iframe width="840" height="472.5" src="https://www.youtube.com/embed/{{youtubeID}}" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
        class="concertVideo"></iframe>
</div>
<br />
<div data-aos="fade-up">
    <h2>Welcome to Stage 3</h2>
</div>
<div class="container-fluid" id="stageThree" data-aos="fade-up">
    <!-- Need to get DB info here with dimensions of 840 x 472.5 -->
    <iframe width="840" height="472.5" src="https://www.youtube.com/embed/{{youtubeID}}" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
        class="concertVideo"></iframe>
</div>